.detail-container {
  padding: 50px 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type {
  display: flex;
  gap: 10px;
}

.type-normal-detail {
  background-color: #A8A878;
}

.type-fighting-detail {
  background-color: #C03028;
}

.type-flying-detail {
  background-color: #A890F0;
}

.type-poison-detail {
  background-color: #A040A0;
}

.type-ground-detail {
  background-color: #E0C068;
}

.type-rock-detail {
  background-color: #B8A038;
}

.type-bug-detail {
  background-color: #A8B820;
}

.type-ghost-detail {
  background-color: #705898;
}

.type-steel-detail {
  background-color: #B8B8D0;
}

.type-fire-detail {
  background-color: #F08030;
}

.type-water-detail {
  background-color: #6890F0;
}

.type-grass-detail {
  background-color: #78C850;
}

.type-electric-detail {
  background-color: #F8D030;
}

.type-psychic-detail {
  background-color: #F85888;
}

.type-ice-detail {
  background-color: #98D8D8;
}

.type-dragon-detail {
  background-color: #7038F8;
}

.type-dark-detail {
  background-color: #705848;
}

.type-fairy-detail {
  background-color: #EE99AC;
}

/* pokemon-imformation */

.pokemon-information {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  display: flex;
}

.pokemon-image {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
}

.pokemon-image h3 {
  position: absolute;
  top: 5px;
  left: 5px;
}

.pokemon-artwork {
  width: 250px;
}

.pokemon-sprites {
  display: flex;
  gap: 20px;
}

/* pokemon-info */

.pokemon-info {
  padding: 20px;
}

.pokemon-name {
  width: 500px;
  display: flex;
  border: 1px solid #000;
  gap: 5px;
  align-items: end;
}

.pokemon-name h1 {
  font-size: 2.5rem;
}

.pokemon-stats {
  display: flex;
  gap: 20px;
}