@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.diaryList {  
  padding: 20px;
}

.diary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}

.left_col select {
  border: none;
  border-radius: 5px;
  background: #ececec;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
}

.right_col {
  width: 150px;
}

.right_col button {
  width: 100%;
}