.diary-img {
  height: 280px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.diary-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.diary-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #1F1F1F;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
