.wrap {
  margin-bottom: 50px;
}

.pokemonIDInfo {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.pokemonIDInfo li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.pokemonIDInfo li:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.pokemonIDInfo li:last-child {
  border-radius: 0 5px 5px 0;
}

.noneImg {
  background-color: #ddd;
}